
# Ignore all .pyc files
*.pyc
# Ignore all .pyo files
*.pyo
# Ignore all .pyd files
*.pyd
__pycache__/
# Ignore all .db files
*.db
# Ignore all .log files
*.log
# Ignore all .tmp files
*.tmp
# Ignore c test files (its gunna be messy)
framework/encoders/plugins/cstuff/wip/*
# Ignore node-modules folder
node_modules/

# Ignore all .env files
.env
.env.local

# Ignore all WIP_*.* (please I need a buffer)
WIP_*.*
# Ignore all .pem files
*.pem

# Compile it yourself
*.exe
*.so